body{
    margin: 0;
    padding: 0;
}
.left{
    background-color: #E9E9E9;
    width: 300px;
}
.right{
    background-color: #FFFFFF;
    width: 600px;
    padding: 10px;
}
.container{
    display: flex;
    justify-content: center;
}
.name{
    text-align: center;
}
.shortInfo{
    margin-left: 10px;
    margin-right: 10px;
}
.photo{
    margin: auto;
    width: 50%;
    display: block;
}