body{
    margin: 0;
    padding: 0;
}
.left{
    background-color: #E9E9E9;
    width: 30%;
    min-width: 350px;
}
.right{
    background-color: #FFFFFF;
    width: 70%;
    padding: 10px;
}
.container{
    display: flex;
}
.name{
    text-align: center;
}
.shortInfo{
    margin-left: 10px;
    margin-right: 10px;
}
.photo{
    margin: auto;
     width: 50%;
     display: block;
}